@page
@model Chapter_Find_Online_Bookstore.Pages.tablesModel
@{
    ViewData["Title"] = "All Tables";
    Layout = "_Layout1";
}

<section class="content-header">
    <h1>
        All Tables
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="Admin"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">All Tables</li>
    </ol>
</section>


<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All Customers With Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Email</th>
                                <th>PhoneNumber</th>
                                <th>Date Join</th>
                                <th>Total Orders</th>
                                <th>Address Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Table.Rows.Count; i++)
                            {
                                <tr>
                                    <td>@Model.Table.Rows[i][1]</td>
                                    <td>@Model.Table.Rows[i][2]</td>
                                    <td>@Model.Table.Rows[i][3]</td>
                                    <td>@Model.Table.Rows[i][4]</td>
                                    <td>@Model.Table.Rows[i][5]</td>
                                    <td>@Model.Table.Rows[i][6]</td>


                                </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Customer Name</th>
                                <th>Email</th>
                                <th>PhoneNumber</th>
                                <th>Date Join</th>
                                <th>Total Orders</th>
                                <th>Address Count</th>
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All Admins With Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>PhoneNumber</th>

                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Table1.Rows.Count; i++)
                            {
                                <tr>
                                    <td>@Model.Table1.Rows[i][1]</td>
                                    <td>@Model.Table1.Rows[i][2]</td>
                                    <td>@Model.Table1.Rows[i][4]</td>



                                </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                
                                <th>Name</th>
                                <th>Email</th>
                                <th>PhoneNumber</th>
                                
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All Categories With Details</h3>
                    <a href="AddCategories" class="btn btn-primary pull-right" style="margin-top: -5px;">
                        Add Category
                    </a>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Category ID</th>
                                <th>Category Name</th>

                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Table2.Rows.Count; i++)
                            {
                                <tr>
                                    <td>@Model.Table2.Rows[i][0]</td>
                                    <td>@Model.Table2.Rows[i][1]</td>



                                </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Category ID</th>
                                <th>Category Name</th>
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All Authors With Details</h3>
                    <a href="AddAuthors" class="btn btn-primary pull-right" style="margin-top: -5px;">
                        Add Author
                    </a>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Author ID</th>
                                <th>Author Name</th>
                                <th>Description</th>
                                <th>Top Category</th>

                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Table3.Rows.Count; i++)
                            {
                                <tr>
                                    <td>@Model.Table3.Rows[i][0]</td>
                                    <td>@Model.Table3.Rows[i][1]</td>
                                    <td>@Model.Table3.Rows[i][2]</td>
                                    <td>@Model.Table3.Rows[i][4]</td>



                                </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Author ID</th>
                                <th>Author Name</th>
                                <th>Description</th>
                                <th>Top Category</th>
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All Books With Details</h3>
                    <a href="AddBook" class="btn btn-primary pull-right" style="margin-top: -5px;">
                        Add Book
                    </a>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Book ID</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Discount</th>
                                <th>InStock</th>
                                <th>SDescription</th>
                                <th>Release Date</th>
                                <th>Pages</th>
                                <th>Visibility</th>

                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Table4.Rows.Count; i++)
                            {
                                <tr>
                                    <td>@Model.Table4.Rows[i][0]</td>
                                    <td>@Model.Table4.Rows[i][1]</td>
                                    <td>@Model.Table4.Rows[i][2]</td>
                                    <td>@Model.Table4.Rows[i][3]</td>
                                    <td>@Model.Table4.Rows[i][4]</td>
                                    <td>
                                        @if (Convert.ToInt32(Model.Table4.Rows[i]["IsDiscount"]) == 1)
                                        {
                                            @Model.Table4.Rows[i]["Discount"]
                                        }
                                        else
                                        {
                                            @("--")
                                        }
                                    </td>
                                    <td>@Model.Table4.Rows[i][7]</td>
                                    <td>@Model.Table4.Rows[i][8]</td>
                                    <td>@Model.Table4.Rows[i][9]</td>
                                    <td>@Model.Table4.Rows[i][10]</td>
                                    <td>
                                        @if (Convert.ToInt32(Model.Table4.Rows[i]["Visabilty"]) == 1)
                                        {
                                            @("Visible")
                                        }
                                        else
                                        {
                                            @("Hidden")
                                        }
                                    </td>
                                </tr>

                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Book ID</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Discount</th>
                                <th>InStock</th>
                                <th>SDescription</th>
                                <th>Release Date</th>
                                <th>Pages</th>
                                <th>Visibility</th>
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All Collections With Details</h3>
                    <a href="AddCollection" class="btn btn-primary pull-right" style="margin-top: -5px;">
                        Add Collection
                    </a>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Collections ID</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Discount</th>
                                <th>InStock</th>
                                <th>SDescription</th>
                                <th>Release Date</th>
                                <th>Pages</th>
                                <th>Visibility</th>

                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Table5.Rows.Count; i++)
                            {
                                <tr>
                                    <td>@Model.Table5.Rows[i][0]</td>
                                    <td>@Model.Table5.Rows[i][1]</td>
                                    <td>@Model.Table5.Rows[i][2]</td>
                                    <td>@Model.Table5.Rows[i][3]</td>
                                    <td>@Model.Table5.Rows[i][4]</td>
                                    <td>
                                        @if (Convert.ToInt32(Model.Table5.Rows[i]["IsDiscount"]) == 1)
                                        {
                                            @Model.Table5.Rows[i]["Discount"]
                                        }
                                        else
                                        {
                                            @("--")
                                        }
                                    </td>
                                    <td>@Model.Table5.Rows[i][7]</td>
                                    <td>@Model.Table5.Rows[i][8]</td>
                                    <td>@Model.Table5.Rows[i][9]</td>
                                    <td>@Model.Table5.Rows[i][10]</td>
                                    <td>
                                        @if (Convert.ToInt32(Model.Table5.Rows[i]["Visabilty"]) == 1)
                                        {
                                            @("Visible")
                                        }
                                        else
                                        {
                                            @("Hidden")
                                        }
                                    </td>
                                </tr>

                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Collections ID</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Discount</th>
                                <th>InStock</th>
                                <th>SDescription</th>
                                <th>Release Date</th>
                                <th>Pages</th>
                                <th>Visibility</th>
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All Orders With Details</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Customer Name</th>
                                <th>Order Date</th>
                                <th>Total Amount</th>
                                <th>Status</th>
                                <th>Shipping Address</th>
                                <th>Phone Number</th>
                                <th>Total Books</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Table6.Rows.Count; i++)
                            {
                                <tr>
                                    <td>@Model.Table6.Rows[i][0]</td>
                                    <td>@Model.Table6.Rows[i][1]</td>
                                    <td>@(((DateTime)Model.Table6.Rows[i][2]).ToString("dd-MMM-yy"))</td>
                                    <td>@Model.Table6.Rows[i][3]</td>
                                    <td>@Model.Table6.Rows[i][4]</td>
                                    <td>@Model.Table6.Rows[i][5]</td>
                                    <td>@Model.Table6.Rows[i][6]</td>
                                    <td>@Model.Table6.Rows[i][7]</td>


                                </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Order ID</th>
                                <th>Customer Name</th>
                                <th>Order Date</th>
                                <th>Total Amount</th>
                                <th>Status</th>
                                <th>Shipping Address</th>
                                <th>Phone Number</th>
                                <th>Total Books</th>
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All Shipping Cost With Details</h3>
                    <a href="AddShipping" class="btn btn-primary pull-right" style="margin-top: -5px;">
                        Add Shipping Cost Location
                    </a>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>City</th>
                                <th>Cost</th>

                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Table7.Rows.Count; i++)
                            {
                                <tr>
                                    <td>@Model.Table7.Rows[i][0]</td>
                                    <td>@Model.Table7.Rows[i][1]</td>

                                </tr>

                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>City</th>
                                <th>Cost</th>
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->



@* <!-- page script -->
<script type="text/javascript">
    $(function () {
        $("#example1").dataTable();
        $('#example2').dataTable({
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false
        });
    });
</script> *@

<script type="text/javascript">
    $(function () {
        // Initialize all tables with the class 'table'
        $(".table").DataTable({
            paging: true, // Enable pagination
            searching: true, // Enable the search box
            ordering: true, // Enable sorting
            info: true, // Show table information
            autoWidth: false // Disable auto width for better responsiveness
        });
    });
</script>

